.chat.clearfix

  .chat-side
    .chat-user.clearfix
      %h5
      .chat-user__actions
        %i.fa.fa-pencil-square-o
        %i.fa.fa-cog
  %ul.chat-groups
    %li.chat-group
      %p.chat-group__name
      %p.chat-group__message

  .chat-main
    .chat-header.clearfix
      .chat-header__left
        %h2
        %p.chat-header__users
      .chat-header__right

    .chat-body
      %ul.chat-messages
        %li.chat-message
          .chat-message__header.clearfix
            %p.chat-message__name
            %p.chat-message__time
          %p.chat-message__body

    .chat-footer
      .chat-footer__body
        %label.chat-footer__file
          %i.fa.fa-image
